.calendrier {
	user-select: none;

	& > div {
		-webkit-box-shadow: var(--shadow);
		box-shadow: var(--shadow);
	}

	&__pagination {
		background-color: var(--bg-alpha);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 5rem;

		& > * {
			flex: 1 1 0;
			min-width: 0;
		}

		&__cour {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2.2rem;
			font-weight: 500;
			white-space: nowrap;
		}


		&__prec {
			display: flex;
			align-items: center;
			justify-content: left;
			font-size: 2.2rem;
			font-weight: 300;
			padding-left: 1rem;

			& > span {
				display: flex;
				align-items: center;
				justify-content: left;
				cursor: pointer;
				transition: filter 100ms;

				&:hover {
					filter: drop-shadow(0px 0px 8px var(--accent));
				}

				&::before {
					content: '';
					display: inline-block;
					width: 2.5rem;
					aspect-ratio: 1/1;
					background-image: var(--arrow);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					margin-right: 0.5rem;
				}
			}
		}


		&__suiv {
			display: flex;
			align-items: center;
			justify-content: right;
			font-size: 2.2rem;
			font-weight: 300;
			padding-right: 1rem;

			& > span {
				display: flex;
				align-items: center;
				justify-content: right;
				cursor: pointer;
				transition: filter 100ms;


				&:hover {
					filter: drop-shadow(0px 0px 8px var(--accent));
				}

				&::after {
					content: '';
					display: inline-block;
					width: 2.5rem;
					aspect-ratio: 1/1;
					background-image: var(--arrow);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					transform: scaleX(-1);
					margin-left: 0.5rem;
				}
			}
		}

	}


	&__container {
		aspect-ratio: 5/4;
		overflow: hidden;
	}





}



.pxcalendar {
	width: 100%;
	height: 100%;
	// background-color: red;
	display: flex;
	flex-direction: column;


	&__daynames {
		// background-color: green;
		display: flex;
		flex-direction: row;
		box-sizing: content-box;
		height: 2rem;
		width: 100%;
		border-top: 1px solid var(--cal-border);


		& > &__name:not(:last-child) {
			
			border-right: 1px solid var(--cal-border);
		}

		&__name {
			width: calc(100% / 7);
			display: flex;
			align-items: center;
			justify-content: center;
		}


	}

	&__month {
		flex: 1;
		display:grid;
		grid-template-columns: repeat(7, 1fr);
		table-layout: fixed;
		width: 100%;
		gap: 0;

		& > &__day:not(:nth-child(7n)) {
			
			border-right: 1px solid var(--cal-border);
		}

		&__day {
			// box-sizing: content-box;
			border-top: 1px solid var(--cal-border);
			padding: 0.5rem;
			
			// background-color: aqua;
			&.outside {
				// background-color: grey;
				// box-shadow: var(--inset);
				color: var(--cal-text-alpha);
			}

			&.has-event {
				position: relative;
				cursor: pointer;
				font-weight: 800;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--accent);
					opacity: 0.2;
				}
				
				// background-color: var(--accent);
				// box-shadow: var(--inset)
			}

			&.today {
				// color: yellow;
				// & > span {
				// 	background-color: var(--accent);
				// }
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 2rem;
					height: 2rem;
					background-color: var(--accent);
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
				}


			}


		}


	}


}