$font-base:   18;
$font-break:  1024;
// $font-large:  1024;
$font-resp:   calc($font-base * 100 / $font-break);
$font-family: "Nunito Sans";


:root {
	--font-family:     #{$font-family};
    --font-size-base:  #{$font-base}px;
    --font-size-break: #{$font-break}px;
    // --font-size-large: #{$font-large}px;
    --font-size-resp:  #{$font-resp}vw;
    --font-size:       min(var(--font-size-resp), var(--font-size-base));
}