.croper {
	position: relative;
	margin-top: 2rem;


	--show: flex;
	--opacity: 0;

	&:hover:has(:not(.croper__splash.show)) {
		--show: none;
	}


	&__images {
		
		display: flex;
		width: 100%;
		gap: 2rem;


		&__box {
			position: relative;
			flex-basis: 0;
			min-width: 0;
			background-color: var(--bg-part);


			&.box--2-3 {
				aspect-ratio: 2 / 3;
				flex: 8 1 0;
			}

			&.box--5-4 {
				aspect-ratio: 5 / 4;
				flex: 15 1 0;
			}

		}



	}

	&__button {
		margin-top: 2rem;

		& > button {
			appearance: none;
			-webkit-appearance: none;
			font-size: 2rem;
			font-weight: 700;
			width: 100%;
			height: 4rem;
			background-color: var(--bg-part);
			color: var(--fg);
			border: none;
			cursor: pointer;
			transition: filter 0.3s ease, transform 0.1s ease;

			&:hover {
				filter: saturate(200%);
  				transform: translateY(-0.3rem);
			}

			&:active {
				transform: translateY(0);
			}

			&:disabled {
				color: var(--fg-alpha);
				pointer-events: none;
			}
		}
	}


	&__splash {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-part);
		border: 0.4rem dashed var(--fg-alpha);
		color: var(--fg-alpha);
		display: var(--show);
		opacity: var(--opacity);
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 2.3rem;
		font-weight: 700;
		cursor: pointer;

		&:hover,
		&.dragover {
			color: var(--fg);
			border-color: var(--fg);
			opacity: 1;
		}

		&.show {
			--show: flex;
			--opacity: 1;
		}


	}




}



