* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
}


body {
    // position: relative;
    overflow-x: hidden;
    background-color: var(--bg);
    min-height: 200vh;
    color: var(--fg);

    // transition-property: ;
    transition: background-color var(--scheme-transition-duration);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 3/2;
        // height: 100vh;

        background-color: var(--sky-color);
        background-image: var(--sky-image);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        background-blend-mode: overlay;

        -webkit-mask-image: linear-gradient(to bottom, black, transparent);
         mask-image: linear-gradient(to bottom, black, transparent);
        transition: background-color var(--scheme-transition-duration);

         z-index: -1;
    }

}


header {
    // background-color: red;
    left: 0;
    right: 0;
    margin: 2rem auto;
    width: 100%;
    max-width: var(--font-size-break);
    // margin-top: 2rem;


    height: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        // background-color: blue;
        width: 100%;
        max-width: var(--font-size-break);
        // overflow: hidden;
        margin: 0 2rem;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        user-select: none;


        &__logo {
            // background-color: green;
            // margin-left: 2rem;
            width: 11rem;
            aspect-ratio: 1/1;
            // background-color: green;
            background-image: var(--logo);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            flex-shrink: 0;
        }


        &__title {
            // margin-right: 2rem;
            // background-color: pink;

            flex-grow: auto;

            padding-left: 1rem;
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
            // background-color: pink;

            &__action {
                // background-color: greenyellow;
                font-size: 6.1rem;
                font-weight: 800;
                
            }


            &__calendrier {
                margin-top: -1.8rem;
                // background-color: coral;
                font-size: 3.4rem;
                font-weight: 300;
                
            }
        }


    }

}


main {
    // overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section {
    width: 100%;
    max-width: var(--font-size-break);
    padding: 2rem;
    // background-color: yellow;
}


.calendrier {
    // text-align: center;
// background-color: blue;
//         display: flex;
//     flex-direction: row;
//     align-items: center;


    &__container {
        // display: none;
        // width: 80vmin;
        // width: 100%;
        // background-color: red;
        // margin: 0 2rem;
        aspect-ratio: 5/4;
        // height: 80vmin;
        overflow: hidden;

        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -20%);

    -webkit-box-shadow: 0px 12px 38px 18px rgba(0,0,0,0.54); 
    box-shadow: 0px 12px 38px 18px rgba(0,0,0,0.4);
    }

}