* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
}


body {
    // position: relative;
    
    background-color: var(--bg);
    height: 200vh;



    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 3/2;
        // height: 100vh;

        background-color: var(--sky-color);
        background-image: var(--sky-image);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        background-blend-mode: overlay;

        -webkit-mask-image: linear-gradient(to bottom, black, transparent);
         mask-image: linear-gradient(to bottom, black, transparent);
         z-index: -1;
    }

}


h1 {
    text-align: center;
}


