* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
}


body {
    min-height: 200vh;
    color: var(--fg);
    background-color: var(--bg);
    overflow-x: hidden;
    transition: background-color var(--scheme-transition-duration);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 3/2;

        background-color: var(--sky-color);
        background-image: var(--sky-image);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        background-blend-mode: overlay;

        -webkit-mask-image: linear-gradient(to bottom, black, transparent);
         mask-image: linear-gradient(to bottom, black, transparent);
        transition: background-color var(--scheme-transition-duration);

         z-index: -1;
    }

}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 4rem auto 2rem auto;
    width: 100%;
    max-width: var(--font-size-break);
    height: 12rem;

    .header {
        width: 100%;
        max-width: var(--font-size-break);
        margin: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        user-select: none;

        &__logo {
            width: 11rem;
            aspect-ratio: 1/1;
            background-image: var(--logo);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            flex-shrink: 0;
        }

        &__title {
            display: flex;
            flex-grow: auto;
            justify-content: center;
            flex-direction: column;
            padding-left: 1rem;

            &__action {
                font-size: 6.1rem;
                font-weight: 800;
            }

            &__calendrier {
                margin-top: -1.8rem;
                font-size: 3.4rem;
                font-weight: 300;
            }
        }


    }

}


main {
    // overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section {
    width: 100%;
    max-width: var(--font-size-break);
    padding: 2rem;
    // background-color: yellow;
}


.calendrier {
    // text-align: center;
// background-color: blue;
//         display: flex;
//     flex-direction: row;
//     align-items: center;


    &__container {
        // display: none;
        // width: 80vmin;
        // width: 100%;
        // background-color: red;
        // margin: 0 2rem;
        aspect-ratio: 5/4;
        // height: 80vmin;
        overflow: hidden;

        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -20%);

    -webkit-box-shadow: 0px 12px 38px 18px rgba(0,0,0,0.2); 
    box-shadow: 0px 12px 38px 18px rgba(0,0,0,0.2);
    }

}