.modal {
	--transition-duration: 200ms;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	// z-index: 100;
	align-items: center;
	justify-content: center;
    visibility: hidden;
    opacity: 0;
	z-index: 10000;
// background-color: red;
    transition-property: opacity visibility;
    transition-duration: var(--transition-duration);
	overflow: hidden;
	padding-right: calc(100vw - 100%);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-modal);
		opacity: 0.8;
	}

	&.show {
		display: flex;
        visibility: visible;
        opacity: 1;

		.modal__placeholder {
			transform: scale(1);
			transition-timing-function: ease-out;
		}
	}

	&__placeholder {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		transform: scale(0);
		transition-property: transform;
		transition: transform var(--transition-duration);
		transition-timing-function: ease-in;
	}
}


body:has(.modal.show) {
	overflow-y: clip;
	overscroll-behavior: contain;
}