
.modal-events {
	position: relative;
	width: 100%;
	max-width: var(--modal-break);
	font-size: var(--modal-size);
	padding: 1em;

	&__placeholder {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 85vh;
		background-color: var(--bg);
		box-shadow: var(--shadow);
		padding: 1rem;
		z-index: 0;

		&__close {
			position: absolute;
			top: 2.1em;
			right: 1.9em;
			width: 2.8em;
			aspect-ratio: 1 / 1;
			background-image: var(--close);
			background-repeat: no-repeat;
			cursor: pointer;
			z-index: 1;
			transition: transform;
			transition-duration: 100ms;

			&:hover {
				transform: scale(1.1);
			}
		}

		&__date {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2.5em;
			font-weight: 800;
			min-height: 2em;
			z-index: 0;
			margin-bottom: 1rem;
			background-color: var(--bg-part);
			user-select: none;
		}

		&__events {
			flex: 1;
			min-height: 0%;
			overflow-y: auto;
			scrollbar-width: thin; 
			-webkit-overflow-scrolling: touch;
			overscroll-behavior: contain;

			&__event {
				position: relative;
				z-index: 0;
				padding: 1.5em;
				background-color: var(--bg-part);
				font-size: 1.3em;
				
				&:not(:last-child) {
					margin-bottom: 1em;
				}

				p:not(:last-of-type) {
					margin-bottom: 1.5em;
				}
				
				span.label {
					font-size: 1.1em;
				}

				span.facebook,
				span.share {
					font-size: 1.1em;
					margin: 0.7em 0;
					display: inline-block;
					background-color: var(--bg-link);
					padding: 0.5em 1em;
					font-weight: bold;
					// color: var(--light-fg);

					border-radius: 2.1em;
					user-select: none;
					cursor: pointer;

					transition: transform;
					transition-duration: 100ms;

					&:hover {
						transform: scale(1.05);
					}

					&::after {
						content: '';
						display: inline-block;
						height: 1.2em;
						aspect-ratio: 1/1;
						background-image: var(--share);
						background-position: center center;
						background-size: contain;
						background-repeat: no-repeat;
						vertical-align: middle;
						margin-left: 0.2em;
					}
				}

				span.facebook::after {
					background-image: var(--facebook);
					background-size: 80%;
					background-color: center right;
					vertical-align: top;
				}

				a:has(span.facebook) {
					text-decoration: none;
					background: none;
					&::after {
						display: none;
					}
				}

				img {
					width: 100%;
					margin-bottom: 1rem;
				}

				h1 {
					font-size: 1.4em;
					font-weight: 800;
					margin-bottom: 1em;
				}
				
				ul {
					margin: 1em 0 1em 2em;

					li:not(:last-child) {
						margin-bottom: 0.5em;
					}
				}
			}
		}
	}
}