// ===>>> Thème Light
@mixin theme-light {
	--bg: #ffffff;
	--fg: #0f172a;
	--border: #e2e8f0;
}


// ===>>> Thème Dark
@mixin theme-dark {
	color-scheme: dark;

	--bg:#0b1220;
	--fg:#e5e7eb;
	--border:#1f2937;
}


// ===>>> Logique
:root { @include theme-light; }
html[data-theme="dark"] { @include theme-dark; }
@media (prefers-color-scheme: dark) { html[data-theme="auto"] { @include theme-dark; } }