.calendrier__container .toastui-calendar-weekday-grid,
.calendrier__container .toastui-calendar-weekday-grid-line {
  border-top: 1px solid var(--cal-border) !important;
}


/* neutralise traits par défaut des cellules (border/box-shadow) */
.calendrier__container .toastui-calendar-month .toastui-calendar-daygrid-cell {
  border-left: 0 !important;
}


.calendrier__container .toastui-calendar-month .toastui-calendar-daygrid-cell:not(:last-child) {
  border-right: 1px solid var(--cal-border) !important;
}


.toastui-calendar-template-monthDayName {
  text-align: center;
  font-size: 1.2rem;
}