@use "partials/config";
@use "partials/fonts";
@use "partials/lightswitch";
@use "partials/main";
@use "partials/calendar";
@use "partials/modal";
@use "partials/modalevents";
@use "swiper/swiper-bundle.css";
@use "partials/card";
@use "partials/croper";
@use "partials/loader";
@use "partials/notification";
@use "partials/youtube";